<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First-Follow-Set Calculator & LL(1) analyzer</title>

    <link href="src/input.css" rel="stylesheet">

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.4.3/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.3/dist/vuetify.min.js"></script>
</head>
<body id="app">

<v-toolbar title="First-Follow-Set Calculator & LL(1) analyzer" :elevation="8" style="background-color: #263238; color: white"></v-toolbar>

<br>

<header class="header">
    <span>&#169; G.A (FH Aachen - University of Applied Sciences) - </span>
    <span><a href="https://github.com/BlackyDrum/first-follow-ll1-calculator" target="_blank">Github</a></span>
</header>

<br>

<div class="flex-container--evenly">
    <div>
        <div>
            <div>
                <v-textarea class="textarea--shadow" hide-details id="input_area" label="Input" variant="outlined" v-model="input" rows="14" cols="80"></v-textarea>
            </div>
            <div class="flex-container--margin">
                <v-btn id="run_btn" @click="init()">
                    Run
                </v-btn>

                <v-btn id="clear_btn" @click="clear()">
                    Clear
                </v-btn>

                <v-btn id="example_btn" @click="example()">
                    Example
                </v-btn>

            </div>
        </div>
    </div>
</div>

<div class="flex-container--evenly" v-if="showOutput">
    <div>
        <v-textarea class="textarea--shadow" hide-details id="output_area" label="Output" variant="outlined" readonly v-model="output" rows="14" cols="80"></v-textarea>
    </div>
</div>

<br>

<div style="width: 100%">
    <div style="display: flex">
        <div style="margin-left: auto; margin-right: auto; overflow-x: auto; border-radius: 0.5rem; ">
            <table class="textarea--shadow" id="analysis-table">
            </table>
        </div>
    </div>
</div>

<br>

<script src="src/index.js"></script>

</body>
</html>
