.flex-container--margin {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}
.flex-container--evenly {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.textarea--shadow {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.description--bold {
    font-weight: bold;
    font-size: medium;
}

.text--bold {
    font-weight: bold;
}

.header {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #0e9ccf;
}

@media (max-width: 960px) {
    .header {
        position: relative;
        padding: 10px 0;
    }
}

li {
    margin-top: 5px;
}

button {
    cursor: pointer;
    margin-right: 1rem;
    width: 5rem;
    height: 2rem;
}


table {
    width: 43rem;
    border-collapse: collapse;
    overflow: auto;
}
thead {
    background-color: #0e9ccf;
    opacity: 85%;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
}

td, th {
    font-size: 16px;
    white-space: pre;
}

td, th {
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #f2f2f2;
    position: sticky;
    left: 0;
    z-index: 1;
}

td:first-child {
    position: sticky;
    left: 0;
    z-index: 10;
    background-color: #0e9ccf;
    opacity: 85%;
    color: white;
}

button, input {
    cursor: pointer;
}

.info {
    font-style: italic;
    font-size: small;
    margin-bottom: 10px;
}