.flex-container {
    display: flex;
}
.flex-container--evenly {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.description--bold {
    font-weight: bold;
    font-size: smaller;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 0.5rem;
}

/* Media query for smaller devices (e.g., screens less than 768px wide) */
@media (max-width: 960px) {
    .footer {
        position: relative;
        padding: 10px 0; /* Optional padding */
    }
}

textarea {
    resize: none;
}


button {
    cursor: pointer;
    margin-right: 1rem;
    width: 5rem;
    height: 2rem;
}