.flex-container {
    display: flex;
}
.flex-container--evenly {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

textarea {
    resize: none;
}


button {
    cursor: pointer;
    margin-right: 1rem;
    width: 5rem;
    height: 2rem;
}